[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
"backports.zoneinfo" = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
cryptography = "*"
distlib = "*"
django = "*"
django-environ = "*"
filelock = "*"
joblib = "*"
numpy = "*"
pandas = "*"
"pdfminer.six" = "*"
platformdirs = "*"
pycparser = "*"
pycryptodome = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
six = "*"
sqlparse = "*"
striprtf = "*"
tqdm = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
