{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}

<h1>About Us</h1>

<h2>Origin Story</h2>
<p>     Veterans experience underemployment at a higher rate than those who haven’t served in the military.  Underemployment is when skilled workers have to take lower-paying jobs relative to their transferable skills. Being underemployed adversely affects mental health in many ways, including confidence loss, which can create a self-sustaining cycle of unfulfilling work. Compared to their peers, veterans have high rates of substance abuse, suicide, homelessness, and a number of mental health issues - underemployment only exacerbates these already serious problems.</p>

<p>Co-founders, Alan Kumar and Jeff Stock, met while working at a tech startup. Jeff, a Marine Corps veteran, was looking to make a major change in his career out of the sales roles he had been in since graduating from UC Berkeley. Alan, who was building out the contingent workforce program, was hiring for a compliance leader and had spent over a decade in corporate talent acquisition and work innovation.</p>

<p>     On paper, Jeff was an unlikely candidate for the role and lacked direct experience doing similar roles in the past. During the initial interview though, Alan was able to understand the transferable skills that Jeff had because of his non-traditional background, particularly his experience in the military. Many senior leaders were opposed to offering the role to Jeff, but Alan was able to not only see the fit, but frame the conversation with other decision makers in ways that made it easier for Jeff to highlight his transferable experience.</p>

<p>In the end, Jeff was selected for the role, and quickly advanced to a leadership position, in which he built out a data analytics and operations program. This major career change was possible because of the combined efforts of Jeff translating his skills and abilities to a new field, and Alan not only being open minded during the initial interview, but advocating for a change in the standard conversation around preconceived notions of an ideal candidate. </p>

<p>Hired Labs serves those who have served by packaging Jeff's successful career mobility into a repeatable, scalable process. Veterans face challenges translating the relevant parts of their experience into terms corporate America can understand. Through our own lived experience, we've seen how reframing the conversation can make it easier for veterans to switch their code to better match that of hiring teams, which leads to successful hiring outcomes for veterans. We deliver this at scale through tools and services, including high-touch job placement services for veterans, and training for non-veteran hiring teams.</p>

<h2>Leadership</h2>
<h3 id="jeffstock">Jeff Stock</h3>
<img src="{{ STATIC_PREFIX }}images/js_headshot.jpeg" alt="">
<h4><i>President, Co-founder</i></h4>
Jeff is a US Marine Corps veteran with nearly a decade of service as an interpreter and intelligence collector in Middle Eastern, Former Soviet Union, and European countries. After completing a B.A. in Linguistics at UC Berkeley, Jeff has built a successful career in the tech industry creating and leading data analysis and operational teams, as well as providing technology and operations consultation at start-ups.
Passionate about helping veterans to feel confident in their abilities, and to feel comfortable articulating them in environments where veterans are historically misunderstood, Jeff co-founded Hired Labs where he can bring his experience helping people from vastly different cultures code switch and find a way to be understood.
<h3>Alan Kumar</h3>
<img src="{{ STATIC_PREFIX }}images/ak_headshot.jpeg" alt="">
<h4><i>Treasurer, Secretary, Co-founder</i></h4>
Alan is a seasoned talent acquisition professional, having spent time leading contingent workforce programs at Dolby Laboratories, Upwork, and Apple Inc.  Throughout his professional career, Alan has specialized experience within agency, startup, and Fortune 5 environments around staff augmentation, gig economy and distributed teams and platform-led solutions.
	Alan’s dedication to combating underemployment comes from seeing directly how it has affected friends, family, and candidates he has worked with.  The negative impacts financially and personally are what we hope to combat with HiredLabs through our experience and providing enablement and education solutions to previously enlisted veterans and corporate America.

<h2>Board of Directors</h2>
<ul>
  <li>Dave Stark</li>
  <li>Jeff Stock</li>
  <li>Alan Kumar</li>
</ul>

{% endblock %}
