<!DOCTYPE html>
{% load static%}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="en-US">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="utf-8">
  	<title>Hired Labs</title>
  	<script src="https://use.fontawesome.com/382d19b8cb.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}styles/style.css"/>
  </head>

  <body>
    <header class="page-header">
        <h1>Hired Labs (Beta)</h1>
    </header>

      <main class="container">
          <div class="row">
              <div class="col">
              {% block welcome %}
              {% endblock %}
              {% block walkthrough %}
              {% endblock %}
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </main>


    <footer>
        <!-- <a href="{% url 'home' %}" class="button">Home</a>
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="button">Logout</a>
          {% if user.is_staff %}
          <br>
            <a href="{% url 'admin:index' %}">Admin Site</a>
          {% endif %}
        {% endif %} -->
        <p>Questions? info@hiredlabs.org | Copyright &copy; 2022 Hired Labs, inc.</p>
    </footer>

  </body>
</html>
