{% extends 'base.html'%}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block content %}
<br><br><br><br><br><br><br><br><br>
<p style="text-align:center">Please send us an email with any questions or feedback.</p>
<h1 style="text-align:center">info@hiredlabs.org</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
