{% extends 'base.html' %}

{% block content %}
  {% if user_profile %}
    <ul>
      {% for profile in user_profile %}
        <li><p>Location:
          {{ profile.loc_id }}</p></li>
        <li><p>Phone:
          {{ profile.phone }}</p></li>
        <li><p>LinkedIn Profile URL:
          {{ profile.linkedin }}</p></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't completed your profile!</p>
    <a href="{% url 'update_profile' %}">Update Profile</a>

  {% endif %}
{% endblock %}
