/* Color Pallette
Light Background
background = #ffffff (white)
primary = #f7941d (orange)
primary_border = #fbb040 (light orange)
secondary = #0e1f33 (black)
secondary_border = #525e6c (gray)

Dark Background
background = #0e1f33 (black)
primary = #f7941d (orange)
primary_border = #705029 (brown)
secondary = #ffffff (white)
secondary_border = #4a5766 (dark gray)

Others:
#f79822
#fbb040
#61492b (light brown)
#7e5728 (brown)
#825928
#55616f
 */
html {
  background-color: #ffffff;
}

h3 {
  text-align: center;
}

header {
  position: relative;
  z-index: 0;
  padding: 1px;
  margin: 0;
  display: block;
}

footer {
  clear:both;
  bottom:0;
  padding-top: 2px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 100;
  display:block;
  justify-content: center;
  width: inherit;
  height: 48px;
  background-color: #0e1f33;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

footer p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  margin-bottom: 10px;
}

.signup {
  justify-content: center;
  text-align: center;
}
.page-header {
  background: #0e1f33;
  color: #f7941d;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  text-align: center;
  background-image: url('../images/HiredLabs Icon negative.svg');
  background-size:15%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position:left;
}

.button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image:
  linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.button:hover {
  background: #1C6EA4; }

.button:active {
background: #144E75; }

.nav {
  text-align: center;
  justify-content: center;
}

#conclusion {
  margin-bottom: 65px;
}
